*.iml
.gradle
/local.properties

# mpeltonen/sbt-idea plugin
.idea_modules/

# IntelliJ IDEA
*.iws
/out/

# User-specific configurations
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.idea/shelf/
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/navEditor.xml

.DS_Store
/build
app/release
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
